* {
    margin: 0;
    padding: 0;
    max-width: 1280px;
    box-sizing: border-box;
    align-items: center;
}
.container {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    display: inline;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2.7px;
    padding: 78px 100px;
}
.navigation a {
    color: red;
    text-decoration: none;
}
.home {
    width: 68px;
    height: 27px;
    margin-left: 330px;
}
.photo {
    width: 131px;
    height: 27px;
    margin-left: 72px;

}
.des {
    width: 87px;
    height: 27px;
    margin-left: 72px;
}
.down {
    width: 140px;
    height: 27px;
    margin-left: 50px;
}
.main-banner .main-text h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    margin-left: 253px;
    margin-top: 48px;
    width: 774px;
    height: 29px;
    letter-spacing: 3.3px;
}
.main-banner .main-text .p-1 {
    width: 1145px;
    height: 132px;
    top: 115px;
    left: 67.5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #373737;
    margin-left: 67.5px;
    margin-top: 38px;
    letter-spacing: 2.4px;
}
.main-banner .main-text .p-2 {
    width: 1145px;
    height: 216px;
    top: 275px;
    left: 67.5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #373737;
    letter-spacing: 2.4px;
    margin-left: 67.5px;
    margin-top: 28px;
}
.main {
    justify-content: center;
    align-items: center;
    margin:50px auto;
    box-sizing: border-box;
}
.button {
    width: 191px;
    height: 51px;
    left: 544.5px;
    top: 557px;
    background: #FF0000;
    border-radius: 4px;
    margin-left: 544.5px;
    margin-top: 66px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    color: white;
    display: flex;
    align-items: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    padding-left: 43.5px;
}

.footer {
    width: 462px;
    height: 39px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: inline;
    letter-spacing: 2.4px;
    color: #373737;
    margin-left: 713px;
    padding: 25px;

    text-align: right;

}



